/* 
** Author: Abdallah Miri
** Template: Portfolio
** version: 1.0.0
*/

/* ----------- globel ----------- */
@import 'media.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between !important;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

.display-flex {
  display: flex;
  justify-content: center;
}

/* ----------- Main Header ----------- */
#header {
  padding: 20px;
  margin-bottom: 50px;
  background: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.contant-header {
  align-items: center;
  justify-content: space-between;
}

#logo {
  display: block;
  width: 85px;
}

#logo img {
  display: block;
  width: 100%;
}

.main-header .contant-header .nav-bar .menu-bar {
  list-style: none;
}

.main-header .contant-header .nav-bar .menu-bar .item-menu {
  display: inline-block;
}

.main-header .contant-header .nav-bar .menu-bar .item-menu .link-item {
  display: block;
  padding: 5px 10px;
  font-size: 16px;
  color: #445862;
  text-decoration: none;
  transition: color .2s ease;
}

.main-header .contant-header .nav-bar .menu-bar .item-menu .link-item:hover,
.main-header .contant-header .nav-bar .menu-bar .item-menu .link-item:focus {
  color: #0D6EFD;
}

/* ----------- Content Page ----------- */
/* .content-page {
  margin-bottom: 50px;
} */

.content-page .container {
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-evenly;
}

.content-page .img-me {
  max-width: 400px;
  height: fit-content;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.content-page .img-me img {
  display: block;
  width: 100%;
}

.content-page .info-me {
  padding-top: 30px;
}

.content-page .info-me h1 {
  font-size: 4em;
  color: #4f5050;
}

.content-page .info-me p {
  color: #7f67ff;
  font-size: 1.6em;
  position: relative;
  padding-left: 25px;
}

.content-page .info-me p::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  border-style: solid;
  border-width: 9px;
  border-color: #0D6EFD #0D6EFD transparent #0D6EFD;
  border-radius: 4px;
}

#mark {
  font-size: 14px;
  color: #465b66;
  position: relative;
  padding-left: 20px;
  margin-left: 8px;
}

#mark::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 12px;
  height: 2px;
  background-color: #8ea3ad;
}

.content-page .skils {
  margin-top: 80px;
  margin-bottom: 80px;
}

.skils .title-skils {
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 10px;
}

.skils .container-img {
  max-width: 400px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.content-page .skils .container-img img {
  width: 30px;
  display: block;
  margin: 2px 7px;
}

.social-media {
  margin-bottom: 10px;
}

.social-media .item {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  margin: 5px 2px;
  display: block;
}

.social-media .item svg {
  display: block;
  width: 21px;
  height: 21px;
  margin: 50% auto;
  transform: translate(0, -50%);
}

.social-media .container-media {
  max-width: 400px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.social-media .title-media {
  font-size: 1.3em;
  text-align: center;
}

.footer {
  width: 100%;
  padding: 35px 0 10px;
  text-align: center; 
}

@media (max-width: 600px) {

  .container {
    max-width: 90%;
  } 

}