* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive, sans-serif;
}

.page {
  position: relative;
}

#logo {
  display: block;
  width: 80px;
  /* opacity: .6; */
  position: absolute;
  left: 15px;
  top: 15px;
}

#logo img {
  display: block;
  width: 100%;
}

.container {
  max-width: 95%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  min-width: 550px;
  padding: 17px;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: space-between;
  background: #F9F9F9;
}

.cart .img {
  width: 330px;
  margin-right: 25px;
  overflow: hidden;
  border-radius: 15px;
}

.cart .img img {
  display: block;
  width: 100%;
}

.cart .body-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.cart .body-cart .social-media {
  display: flex;
  flex-direction: row;
}

.cart .body-cart .social-media .item {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  margin: 5px;
  display: block;
}

.cart .body-cart .social-media .item img {
  display: block;
  width: 21px;
  height: 21px;
  margin: 50% auto;
  transform: translate(0, -50%);
}

.cart .body-cart .text-body h1 {
  font-size: 2em;
  color: #414344;
  margin-top: 15px;
}

.cart .body-cart .text-body p {
  font-size: 16px;
  color: #555;
  margin: 11px 0 20px;
  font-family: monospace;
}

.cart .body-cart .text-body .icon {
  display: flex;
  flex-direction: row;
}

.cart .body-cart .text-body .icon .item-icon {
  width: 30px;
  margin: 3px;
}

.cart .body-cart .text-body .icon .item-icon:nth-child(1) {
  margin-left: 0;
}

.cart .body-cart .text-body .icon .item-icon img {
  display: block;
  width: 100%;
}

.cart .btn-container {
  width: 100%;
  display: block;
  border-radius: 5px;
  background-color: rgb(13 110 253 / 8%);
}

#btn {
  width: 105px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  background: #0D6EFD;
  border: none;
  padding: 10px 0;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 600px) {

  .container {
    max-width: 90%;
  } 

  .cart {
    min-width: 230px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .cart .body-cart {
    justify-content: center;
  }

  .cart .body-cart .social-media {
    justify-content: center;
    margin-top: 45px;
  }

  .cart .body-cart .text-body {
    text-align: center;
  }

  .cart .body-cart .text-body .icon {
    justify-content: center;
  }

  .btn-container {
    margin-top: 30px;
  }

}