/* 
** Author: Abdallah Miri
** Template: Portfolio
** version: 1.0.0
*/

/* ----------- globel ----------- */
body {
  display: initial !important;
}

/* ----------- Projects ----------- */
.projects .item-container {
  flex-direction: row;
  flex-wrap: wrap;
}

/* Title Projects */
.projects .title {
  text-align: center;
  color: #445862;
  font-size: 3em;
  padding: 10px 0 40px;
}

/* Card */
.card {
  margin: 10px;
  width: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card .img-card {
  width: 100%;
  height: 250px;
}

/* .card .img-card .skils-pro {
  position: absolute;
  top: 0;
  right: 20px;
  width: 20px;
  height: 45px;
  background-color: lightcoral;
}

.card .img-card .skils-pro::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 5px;
  border-color: #445862 #445862 transparent transparent;
  border-style: solid;
} */

.card .info-card {
  padding: 10px;
}

.card .project-title {
  font-size: 17px;
  color: #445862;
  font-weight: bold;
  margin-bottom: 8px;
}

.author-link {
  color: #313233;
  text-decoration: none;
  align-items: center;
  justify-content: flex-start;
}

.author-link img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
}

.author-link .name {
  margin-left: 7px;
}